/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


#course-taking-page:before {
    opacity: .25;
}

#course-taking-page.wrapper {
    background: url("../img/bg_apium_005_a.jpg") #2c2c30 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

#course-taking-page.wrapper .main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 465px;
    z-index: 1;
}

#course-taking-page.wrapper .main:before {
    content: '';
    width: 5px;
    height: 100%;
    position: fixed;
    background: url("../img/at_bar.png");
    left: 219px;
}

#course-taking-page.wrapper .main a#go-back {
    color: #84848c;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    top: 15px;
    left: 40px;
    line-height: 16px;
    z-index: 1;
}

#course-taking-page.wrapper .main a#go-back:before {
    content: '';
    width: 16px;
    height: 16px;
    float: left;
    background: url("../img/sprites.png?v=10") 0 -520px;
    margin-right: 5px;
    opacity: .3;
}

#course-taking-page.wrapper .main a#go-back:hover {
    color: #fff;
}

#course-taking-page.wrapper .main a#go-back:hover:before {
    opacity: 1;
}

#course-taking-page.wrapper .main ul#timeline {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    -webkit-transition: top 1s ease;
    -moz-transition: top 1s ease;
    -o-transition: top 1s ease;
    transition: top 1s ease;
}

#course-taking-page.wrapper .main ul#timeline>li {
    position: relative;
    height: 100%;
    float: left;
    width: 100%;
}

#course-taking-page.wrapper .main ul#timeline>li  .asset-container {
    position: absolute;
    top: 100px;
    bottom: 80px;
    width: 100%;
    background: #000;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container>* {
    width: 100%;
    height: 100%;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .fit-height {
    width: auto;
    height: 100%;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .fit-width {
    width: 100%;
    height: auto;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .article-view {
    background: #fff;
    overflow: auto;
    padding: 15px;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .article-view p {
    font-size: 16px;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-asset {
    background: #fff;
    overflow: auto;
    padding: 15px;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed {
    height: 100%;
    overflow: hidden;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed .main-view {
    height: 100%;
    width: 100%;
    position: relative;
    white-space: nowrap;
    font-size: 0;
    left: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed .frame {
    background: url("../img/noise.png") #ffffff;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    white-space: normal;
    width: 100%;
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed .completed-page {
    position: relative;
    background: #EFF1F6;
    box-shadow: 0 0 135px 15px rgba(0, 0, 0, 0.45) inset, 0 0 0 1px #ffffff inset;
    text-align: center;
    padding: 0 15%;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed .completed-page .completed-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -16px;
    text-align: center;
    color: #6A8B1A;
    font-size: 26px;
    font-weight: 200;
    text-shadow: 0 1px #fff;
}

#course-taking-page.wrapper .main ul#timeline>li .asset-container .wufoo-survey-completed .completed-page .completed-text>span {
    margin: 0px 5px;
}

#course-taking-page.wrapper .main ul#timeline>li .prev-lecture {
    position: absolute;
    left: 172px;
    top: 14px;
    width: 130px;
    cursor: pointer;
}

#course-taking-page.wrapper .main ul#timeline>li .prev-lecture a {
    height: 18px;
    width: 19px;
    background-color: #000;
    color: #ababae;
    text-shadow: 0 -1px 2px #000000;
    border-radius: 4px;
    padding: 2px 0px 0px 3px;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    display: block;
    float: left;
}

#course-taking-page.wrapper .main ul#timeline>li .prev-lecture a:before {
    background: url("../img/sprites.png?v=10") 0px -690px;
    content: "";
    float: left;
    margin-left: 2px;
    height: 13px;
    width: 9px;
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-backface-visibility: hidden;
}

#course-taking-page.wrapper .main ul#timeline>li .prev-lecture span {
    float: left;
    color: #84848c;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding-left: 5px;
}

#course-taking-page.wrapper .main ul#timeline>li .prev-lecture:hover span {
    color: #fff;
}

#course-taking-page.wrapper .main ul#timeline>li:first-child .prev-lecture {
    display: none;
}

#course-taking-page.wrapper .main ul#timeline>li:last-child .next-lecture {
    display: none;
}

#course-taking-page.wrapper .main ul#timeline>li .top {
    position: absolute;
    top: 40px;
    width: 100%;
    *zoom: 1;
}

#course-taking-page.wrapper .main ul#timeline>li .top:before, #course-taking-page.wrapper .main ul#timeline>li .top:after {
    display: table;
    content: "";
    line-height: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top:after {
    clear: both;
}

#course-taking-page.wrapper .main ul#timeline>li .top:before, #course-taking-page.wrapper .main ul#timeline>li .top:after {
    display: table;
    content: "";
    line-height: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top:after {
    clear: both;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ch {
    float: left;
    background: #5a5a61;
    color: #202227;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 20px 0 5px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.15);
    position: relative;
    margin-top: 11px;
    width: 109px;
    text-align: center;
}

#course-taking-page.wrapper .main ul#timeline>li .top .le {
    float: left;
    background: #000;
    border-radius: 10px;
    padding: 0px 20px 0 10px;
    margin: 11px 0 0 -20px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    width: 84px;
}

#course-taking-page.wrapper .main ul#timeline>li .top .no {
    float: left;
    background: #d98028 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#d98028, #a64624);
    background: url("../img/noise.png"), -o-linear-gradient(#d98028, #a64624);
    background: url("../img/noise.png"), -ms-linear-gradient(#d98028, #a64624);
    background: url("../img/noise.png"), linear-gradient(#d98028, #a64624);
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 99em;
    box-shadow: 0 1px rgba(255, 255, 255, 0.45) inset, 0 0 0px 3px #000000, 4px 0 rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    margin: 4px 0 0 -9px;
    position: relative;
}

#course-taking-page.wrapper .main ul#timeline>li .top h1 {
    position: absolute;
    left: 200px;
    right: 0;
    color: #fff;
    font-size: 13px;
    margin: 2px 0 0 9px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 2.8;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown {
    float: right;
    margin: 8px 0 0 10px;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown>a {
    border-radius: 3px;
    height: 22px;
    padding: 1px 10px 1px 32px;
    font-size: 10px;
    color: #999;
    font-weight: bold;
    position: relative;
    background: #393c44 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#393c44, #1d1f23);
    background: url("../img/noise.png"), -o-linear-gradient(#393c44, #1d1f23);
    background: url("../img/noise.png"), -ms-linear-gradient(#393c44, #1d1f23);
    background: url("../img/noise.png"), linear-gradient(#393c44, #1d1f23);
    box-shadow: 0 1px #5b5d64 inset, 0 0 0 3px #000;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown>a:before {
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #bfbfbf transparent transparent;
    float: left;
    margin: 5px 6px 0 0;
    position: absolute;
    left: 8px;
    top: 3px;
    box-shadow: 0 -2px 0 0 #000000;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown>a:after {
    background: #424449;
    border: 0 none;
    height: 22px;
    left: 24px;
    position: absolute;
    top: 2px;
    width: 1px;
    border-right: 1px solid #1d1e22;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown ul {
    left: auto;
    right: -3px;
    margin-top: 0;
    border: 3px solid #000;
    border-radius: 5px;
    overflow: hidden;
    width: 270px;
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown ul li h3 {
    font-size: 10px;
    color: #888;
    text-shadow: 0 1px #fff;
    padding-left: 15px;
    background: #b2b2b2;
    background: -webkit-linear-gradient(#dadada, #b2b2b2);
    background: -o-linear-gradient(#dadada, #b2b2b2);
    background: -ms-linear-gradient(#dadada, #b2b2b2);
    background: linear-gradient(#dadada, #b2b2b2);
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown ul li a {
    color: #353535;
    text-shadow: 0 1px #fff;
    font-weight: bold;
    background: #ebebeb "!important";
    background: -webkit-linear-gradient(#ffffff, #ebebeb) "!important";
    background: -o-linear-gradient(#ffffff, #ebebeb) "!important";
    background: -ms-linear-gradient(#ffffff, #ebebeb) "!important";
    background: linear-gradient(#ffffff, #ebebeb) "!important";
}

#course-taking-page.wrapper .main ul#timeline>li .top .ddown ul li.on, #course-taking-page.wrapper .main ul#timeline>li .top .ddown ul li a:hover {
    color: #45729c;
}

#course-taking-page.wrapper .main ul#timeline>li .top {
    opacity: 1;
    position: relative;
    float: left;
}

#course-taking-page.wrapper .main ul#timeline>li .top>a {
    font-size: 14px;
    color: #666;
    padding: 0 25px 0 15px;
    position: relative;
    display: block;
    background: #ee88ee 8 E;
    background: -webkit-linear-gradient(#f7f7f7, #ee88ee 8 E);
    background: -o-linear-gradient(#f7f7f7, #ee88ee 8 E);
    background: -ms-linear-gradient(#f7f7f7, #ee88ee 8 E);
    background: linear-gradient(#f7f7f7, #ee88ee 8 E);
    line-height: 34px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #828282;
}

#course-taking-page.wrapper .main ul#timeline>li .top>a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #777 transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -1px;
}

#course-taking-page.wrapper .main ul#timeline>li .top>ul, #course-taking-page.wrapper .main ul#timeline>li .top>div {
    position: absolute;
    margin-top: 1px;
    display: none;
    z-index: 1;
    left: 0;
    width: 100%;
    border-radius: 0 3px 3px 3px;
    box-shadow: 1px 1px 1px #828282;
    overflow: hidden;
    min-width: 170px;
    width: auto;
}

#course-taking-page.wrapper .main ul#timeline>li .top>ul li>a, #course-taking-page.wrapper .main ul#timeline>li .top>div li>a {
    color: #252525;
    padding: 7px 15px;
    text-align: left;
    text-decoration: none;
    background: #F9F9FA;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#course-taking-page.wrapper .main ul#timeline>li .top>ul li>a:hover, #course-taking-page.wrapper .main ul#timeline>li .top>div li>a:hover {
    background: #F1F1F1;
}

#course-taking-page.wrapper .main ul#timeline>li .top>ul li:first-child>a, #course-taking-page.wrapper .main ul#timeline>li .top>div li:first-child>a {
    border-radius: 0 3px 0 0;
    border-top: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top>ul li:last-child>a, #course-taking-page.wrapper .main ul#timeline>li .top>div li:last-child>a {
    border-radius: 0 0 3px 3px;
    border-bottom: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top.on>a {
    border-radius: 5px 5px 0 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top.on>ul, #course-taking-page.wrapper .main ul#timeline>li .top.on>div {
    display: block;
    z-index: 5;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown>a {
    background: #3e7929;
    background: -webkit-linear-gradient(#a8c073, #3e7929);
    background: -o-linear-gradient(#a8c073, #3e7929);
    background: -ms-linear-gradient(#a8c073, #3e7929);
    background: linear-gradient(#a8c073, #3e7929);
}

#course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown>a {
    background: #666666;
    background: -webkit-linear-gradient(#999999, #666666);
    background: -o-linear-gradient(#999999, #666666);
    background: -ms-linear-gradient(#999999, #666666);
    background: linear-gradient(#999999, #666666);
}

#course-taking-page.wrapper .main ul#timeline>li .top.red-ddown>a {
    background: #b71524;
    background: -webkit-linear-gradient(#cb5660, #b71524);
    background: -o-linear-gradient(#cb5660, #b71524);
    background: -ms-linear-gradient(#cb5660, #b71524);
    background: linear-gradient(#cb5660, #b71524);
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown>a, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown>a, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown>a {
    color: #fff;
    text-shadow: 0 -1px #333333;
    padding: 0 10px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 40px 0 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 2px rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.33);
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown>a:before, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown>a:before, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown>a:before {
    content: 'a';
    position: absolute;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
    right: 25px;
    font-size: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown>a:after, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown>a:after, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown>a:after {
    border-top-color: #fff;
    box-shadow: 0 -1px #333333;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown.on>a, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown.on>a, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown.on>a {
    border-radius: 4px;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown ul, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown ul, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown ul {
    left: auto;
    right: 0;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0 1px #ccc;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown ul li a, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown ul li a, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown ul li a {
    color: #777;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown ul li a:hover, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown ul li a:hover, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown ul li a:hover {
    background: #e7eede;
    color: #213117;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown ul li a:first-child, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown ul li a:first-child, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown ul li a:first-child {
    border-radius: 3px 3px 0 0;
}

#course-taking-page.wrapper .main ul#timeline>li .top.green-ddown ul li a:last-child, #course-taking-page.wrapper .main ul#timeline>li .top.gray-ddown ul li a:last-child, #course-taking-page.wrapper .main ul#timeline>li .top.red-ddown ul li a:last-child {
    border-radius: 0 0 3px 3px;
}

#course-taking-page.wrapper .main ul#timeline>li.on .top {
    opacity: 1;
}

#course-taking-page.wrapper .main ul#timeline>li.on .top .ddown, #course-taking-page.wrapper .main ul#timeline>li.on .top .share, #course-taking-page.wrapper .main ul#timeline>li.on .top .mark {
    opacity: 1;
    visibility: visible;
}

#course-taking-page.wrapper .main ul#timeline>li.off {
    visibility: hidden;
}

#course-taking-page.wrapper .main ul#timeline>li.completed .top .no {
    background: #8bbb27 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#8bbb27, #608119);
    background: url("../img/noise.png"), -o-linear-gradient(#8bbb27, #608119);
    background: url("../img/noise.png"), -ms-linear-gradient(#8bbb27, #608119);
    background: url("../img/noise.png"), linear-gradient(#8bbb27, #608119);
}

#course-taking-page.wrapper .main ul#timeline>li .bottom {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.next-lecture {
    background: #393c44 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#393c44, #1d1e23);
    background: url("../img/noise.png"), -o-linear-gradient(#393c44, #1d1e23);
    background: url("../img/noise.png"), -ms-linear-gradient(#393c44, #1d1e23);
    background: url("../img/noise.png"), linear-gradient(#393c44, #1d1e23);
    height: 30px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    color: #ababae;
    text-shadow: 0 -1px 2px #000000;
    border-radius: 4px;
    border: 3px solid #000;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    display: inline-block;
}

.next-lecture:before {
    content: '';
    position: absolute;
    top: 100%;
    background: #212226 url("../img/noise.png");
    left: 50%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    width: 12px;
    height: 12px;
    margin: -5px 0 0 -8px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #000;
}

.next-lecture:hover {
    color: #999;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom a.next-lecture {
    position: absolute;
    left: 131px;
    bottom: 0;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom a.next-lecture.continue {
    position: absolute;
    bottom: 0px;
    left: 147px;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .autoplay {
    position: absolute;
    top: 6px;
    left: 242px;
    font-size: 12px;
    color: #666;
    text-shadow: 0 1px 1px black;
    padding: 0 0 0 3px;
    cursor: pointer;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .autoplay span {
    color: #A53E3E;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .autoplay.on span {
    color: #658165;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .share, #course-taking-page.wrapper .main ul#timeline>li .bottom .mark {
    float: right;
    width: 26px;
    height: 26px;
    background: url("../img/sprites.png?v=10") 0 -570px;
    text-indent: -999em;
    margin: 5px 0 0 5px;
    cursor: pointer;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .share {
    background-position: 0 -600px;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark b:nth-child(1) {
    display: block;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark b:nth-child(2) {
    display: none;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark:hover {
    background: url("../img/sprites.png?v=10") -30px -570px;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark.read {
    background-position: -30px -570px;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark.read b:nth-child(1) {
    display: none;
}

#course-taking-page.wrapper .main ul#timeline>li .bottom .mark.read b:nth-child(2) {
    display: block;
}

#course-taking-page.wrapper .main ul#timeline>li .percent {
    position: absolute;
    background: #6e8d39;
    background: -webkit-linear-gradient(#c3c456, #6e8d39);
    background: -o-linear-gradient(#c3c456, #6e8d39);
    background: -ms-linear-gradient(#c3c456, #6e8d39);
    background: linear-gradient(#c3c456, #6e8d39);
    border-radius: 99em;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 0 5px #aeb03c, 0 0 0 6px rgba(255, 255, 255, 0.2), 0 0 0 9px #010101;
    left: 140px;
    top: 50%;
    margin-top: -40px;
}

#course-taking-page.wrapper .main ul#timeline>li .note {
    left: 240px;
    margin-top: -16px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
}

#course-taking-page.wrapper .main ul#timeline>li .note span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: #999;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 2px #000 inset;
}

#course-taking-page.wrapper .main ul#timeline>li .note span b {
    color: #fff;
}

#course-taking-page.wrapper .main ul#timeline>li.chapter .percent {
    background: #6090bf;
    background: -webkit-linear-gradient(#cee7fa, #6090bf);
    background: -o-linear-gradient(#cee7fa, #6090bf);
    background: -ms-linear-gradient(#cee7fa, #6090bf);
    background: linear-gradient(#cee7fa, #6090bf);
    box-shadow: 0 0 0 5px #4574a9, 0 0 0 6px rgba(255, 255, 255, 0.2), 0 0 0 9px #010101;
    line-height: 104px;
}

#course-taking-page.wrapper .main ul#timeline>li.chapter .percent span {
    position: absolute;
    font-size: 14px;
    top: -22px;
    left: 15px;
}

#course-taking-page.wrapper .main ul#timeline>li .badge {
    position: absolute;
    top: 50%;
    left: 106px;
    margin-top: -120px;
    background: none;
    text-align: center;
}

#course-taking-page.wrapper .main ul#timeline>li .badge .icon {
    background: #e7dcad url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#e7dcad, #e09226);
    background: url("../img/noise.png"), -o-linear-gradient(#e7dcad, #e09226);
    background: url("../img/noise.png"), -ms-linear-gradient(#e7dcad, #e09226);
    background: url("../img/noise.png"), linear-gradient(#e7dcad, #e09226);
    width: 130px;
    height: 130px;
    border-radius: 99em;
    display: block;
    box-shadow: 0 0 0 5px #dca32a, 0 0 0 10px #000;
}

#course-taking-page.wrapper .main ul#timeline>li .badge .icon:before {
    content: '';
    width: 84px;
    height: 84px;
    background: url("../img/badges.png");
    display: inline-block;
    margin-top: 26px;
}

#course-taking-page.wrapper .main ul#timeline>li .badge .title {
    background: #000;
    padding: 0;
    display: inline-block;
    line-height: 23px;
    color: #f7ecc5;
    margin-top: 17px;
    display: block;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats {
    left: 50%;
    margin: -130px 0 0 -200px;
    position: absolute;
    text-align: center;
    width: 400px;
    background: url("../img/huge-tick.png") no-repeat center;
    height: 260px;
    top: 50%;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats h2 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats p {
    color: #babdc2;
    font-size: 16px;
    margin-top: 20px;
    line-height: 24px;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats p b {
    color: #fff3af;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats p span {
    color: #FFFFFF;
    font-weight: bold;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share {
    margin-top: 20px;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share h4 {
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share .btns {
    border-radius: 20px;
    box-shadow: 0 0 0 1px #000000, 0 0 0 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-top: 5px;
    overflow: hidden;
    line-height: 25px;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share .btns>* {
    background: #6992d6 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#6992d6, #3564ab);
    background: url("../img/noise.png"), -o-linear-gradient(#6992d6, #3564ab);
    background: url("../img/noise.png"), -ms-linear-gradient(#6992d6, #3564ab);
    background: url("../img/noise.png"), linear-gradient(#6992d6, #3564ab);
    color: #FFFFFF;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    padding-right: 10px;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share .btns>*:before {
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -632px, -moz-linear-gradient(#567fcc, #28529a);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -632px, -webkit-linear-gradient(#567fcc, #28529a);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -632px, -o-linear-gradient(#567fcc, #28529a);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -632px, -ms-linear-gradient(#567fcc, #28529a);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -632px, linear-gradient(#567fcc, #28529a);
    content: "";
    height: 26px;
    width: 30px;
    float: left;
    margin-right: 9px;
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share .btns .tw {
    border-left: 1px solid #000;
    background: #67b2d6 url("../img/noise.png");
    background: url("../img/noise.png"), -webkit-linear-gradient(#67b2d6, #3582ab);
    background: url("../img/noise.png"), -o-linear-gradient(#67b2d6, #3582ab);
    background: url("../img/noise.png"), -ms-linear-gradient(#67b2d6, #3582ab);
    background: url("../img/noise.png"), linear-gradient(#67b2d6, #3582ab);
}

#course-taking-page.wrapper .main ul#timeline>li .congrats .share .btns .tw:before {
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -662px, -moz-linear-gradient(#59a5ce, #2b739e);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -662px, -webkit-linear-gradient(#59a5ce, #2b739e);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -662px, -o-linear-gradient(#59a5ce, #2b739e);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -662px, -ms-linear-gradient(#59a5ce, #2b739e);
    background: url("../img/noise.png"), url("../img/sprites.png?v=10") 0 -662px, linear-gradient(#59a5ce, #2b739e);
}

#course-taking-page.wrapper .sidebar {
    background: #232326;
    width: 425px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid #504f55;
}

#course-taking-page.wrapper .sidebar .sidebar-container {
    padding: 10px;
    box-shadow: 3px 0 3px #151517 inset;
    position: relative;
    height: 100%;
    z-index: 0;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container {
    overflow: hidden;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #6B6B6B;
    display: table;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li {
    display: table-cell;
    float: none;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li:first-child>* {
    border-radius: 4px 0 0 0 !important;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li:last-child>* {
    border-radius: 0 4px 0 0 !important;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li label {
    color: #212328;
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 0 none;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li label:before {
    font-family: fontawesome;
    float: left;
    margin-right: 5px;
    font-size: 18px;
    font-weight: normal;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li.q label:before {
    content: '\f059';
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li.e label:before {
    content: '\f01a';
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-label-container .gray-nav li.n label:before {
    content: '\f03a';
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs {
    bottom: 0;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 51px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs>div {
    background: #fff;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras {
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
    overflow-y: auto;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras .top {
    background: #d9d9d9;
    background: -webkit-linear-gradient(#ffffff, #d9d9d9);
    background: -o-linear-gradient(#ffffff, #d9d9d9);
    background: -ms-linear-gradient(#ffffff, #d9d9d9);
    background: linear-gradient(#ffffff, #d9d9d9);
    padding: 5px 10px;
    overflow: hidden;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras .top h4 {
    text-shadow: 0 1px #fff;
    text-transform: uppercase;
    color: #888;
    float: left;
    margin-top: 6px;
    font-size: 13px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras #extras-list p {
    margin: 10px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras article {
    margin: 10px;
    color: #666;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li {
    background: #f0f0f0;
    background: -webkit-linear-gradient(#ffffff, #f0f0f0);
    background: -o-linear-gradient(#ffffff, #f0f0f0);
    background: -ms-linear-gradient(#ffffff, #f0f0f0);
    background: linear-gradient(#ffffff, #f0f0f0);
    padding: 10px;
    position: relative;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
    transition: border 0.2s ease;
    box-shadow: 0 1px #ededed inset;
    overflow: hidden;
    border-bottom: 2px solid #b8b8b8;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li:before {
    content: '';
    width: 30px;
    height: 32px;
    background: url("../img/sprites.png?v=10") -120px -860px;
    float: left;
    margin-top: 3px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li>a {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    width: 240px;
    color: #666;
    font-weight: bold;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li>span {
    float: left;
    width: 240px;
    margin-left: 10px;
    color: #777;
    font-style: italic;
    font-size: 13px;
    font-family: georgia;
    text-shadow: 0 1px #fff;
    line-height: 1;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns {
    background: #a8cce6 url("../img/noise.png");
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    right: 10px;
    top: 15px;
    box-shadow: 0 -30px 30px -20px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns a {
    float: left;
    width: 33px;
    height: 24px;
    text-indent: -999em;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns a:before {
    background: url("../img/sprites.png?v=10") 0 -800px;
    content: "";
    height: 14px;
    width: 16px;
    float: left;
    margin: 5px 0 0 10px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns a.download {
    border-left: 1px solid #b5b5b5;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns a.download:before {
    background-position: 0 -900px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .btns a:hover {
    opacity: 1;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.lec {
    border-bottom: 2px solid #6f913c;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.lec:before {
    background-position: -240px -860px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.lec .btns {
    background-color: #9FC661;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.lec:hover {
    border-left-color: #678930 !important;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.lec:hover>a {
    color: #678930 !important;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.zip:before {
    background-position: 0 -820px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.zip:hover:before {
    background-position: 0 -860px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.audio:before {
    background-position: -30px -820px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.audio:hover:before {
    background-position: -30px -860px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.pdf:before {
    background-position: -60px -820px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.pdf:hover:before {
    background-position: -60px -860px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.ppt:before {
    background-position: -90px -820px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.ppt:hover:before {
    background-position: -90px -860px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li.no-downloadable:before {
    display: none;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li:not(.no-downloadable):hover {
    border-left: 5px solid #acc9dd;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li:not(.no-downloadable):hover>a {
    color: #4c90b4;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li:not(.no-downloadable):hover .btns {
    opacity: 1;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .black-tooltip h5 {
    font-size: 16px;
    color: #4c90b4;
    padding: 10px 10px 15px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .black-tooltip>div {
    background: #f0f2f4;
    background: -webkit-linear-gradient(#d3d9df, #f0f2f4);
    background: -o-linear-gradient(#d3d9df, #f0f2f4);
    background: -ms-linear-gradient(#d3d9df, #f0f2f4);
    background: linear-gradient(#d3d9df, #f0f2f4);
    padding: 10px;
    box-shadow: 0 1px 3px #999 inset;
    position: relative;
    text-align: center;
    border-radius: 0 0 3px 3px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #extras>ul>li .black-tooltip>div:before {
    content: '';
    position: absolute;
    top: -6px;
    background: #d3d9df;
    padding: 6px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    left: 20px;
    box-shadow: 3px 3px 3px -2px #999999 inset;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes {
    height: 100%;
    position: relative;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask {
    top: 54px;
    overflow-y: auto;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul {
    background: url("../img/notes-bg.png"), #fff9ed url("../img/noise.png");
    min-height: 100%;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: url("../img/sprites.png?v=10") 0 -943px;
    top: 0;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li {
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li:first-child {
    padding-top: 31px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li time {
    background: #a69e93;
    border-radius: 5px;
    padding: 2px 9px;
    margin-top: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li .bullet {
    padding: 2px 17px;
    margin-top: 3px;
    color: #a69e93;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 10px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li p {
    line-height: 30px;
    float: left;
    width: 310px;
    margin: 0 0 0 65px;
    font-size: 16px;
    font-family: 'Short Stack', cursive;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li p:after {
    content: '';
    display: block;
    background: url("../img/sprites.png?v=10") 120px -988px;
    height: 30px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li p:hover {
    cursor: pointer;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #notes-mask ul li textarea {
    display: none;
    margin: 0 0 0 65px;
    float: left;
    width: 310px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #download-notes {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
}

#course-taking-page.wrapper .sidebar .sidebar-container .tab-divs #notes #download-notes #download-button {
    width: 100%;
    height: 30px;
}

#course-taking-page.wrapper .sidebar a.close-btn {
    background: #232326;
    border-color: #504F55;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    display: block;
    left: -26px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    z-index: 1;
}

#course-taking-page.wrapper .sidebar a.close-btn:before {
    background: url("../img/sprites.png?v=10") 0 -690px;
    content: "";
    float: left;
    height: 13px;
    margin: 6px 8px 6px 8px;
    width: 9px;
}

#course-taking-page.wrapper .main {
    -webkit-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    -moz-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    -o-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
    transition: right 0.3s cubic-bezier(1, 0, 0, 1);
}

#course-taking-page.wrapper .sidebar {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
    -o-transition: -o-transform 0.3s cubic-bezier(1, 0, 0, 1);
    -ms-transition: -ms-transform 0.3s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
    -webkit-backface-visibility: hidden;
}

#course-taking-page.wrapper.off .main {
    right: 40px;
}

#course-taking-page.wrapper.off .sidebar {
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-backface-visibility: hidden;
}

#course-taking-page.wrapper.off .sidebar a.close-btn:before {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-backface-visibility: hidden;
}

