#aula-trainning .view {
  -webkit-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
  -moz-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: right 0.3s cubic-bezier(1, 0, 0, 1);
  transition: right 0.3s cubic-bezier(1, 0, 0, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 465px;
  z-index: 1;
}
#aula-trainning .view ul {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  transition: top 1s ease;
}
#aula-trainning .view ul li {
  position: relative;
  height: 100%;
  float: left;
  width: 100%;
}
#aula-trainning .view ul li .element {
  position: absolute;
  width: 140px;
  height: 180px;
  border-radius: 5px;
  cursor: default;
  top: 30%;
  width: 300px;
  height: 80px;
  line-height: 80px;
  font-size: 60px;
  text-align: center;
  color: #002a80;
  font-weight: bold;
}
#aula-trainning .view ul li .element:hover {
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}
#aula-trainning .view ul li .tell {
  left: 250px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 45%;
}
#aula-trainning .view ul li .tell span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  font-size: 25px;
}
#aula-trainning .view ul li .tell span b {
  color: #002a80;
}
#aula-trainning .view ul li .chapter {
  background: #6090bf;
  background: -webkit-linear-gradient(#cee7fa, #6090bf);
  background: -o-linear-gradient(#cee7fa, #6090bf);
  background: -ms-linear-gradient(#cee7fa, #6090bf);
  background: linear-gradient(#cee7fa, #6090bf);
  box-shadow: 0 0 0 5px #4574a9, 0 0 0 6px rgba(255, 255, 255, 0.2), 0 0 0 9px #010101;
  line-height: 104px;
}
#aula-trainning .view ul li .chapter .element {
  position: absolute;
  width: 140px;
  height: 180px;
  border: 1px solid rgba(127, 255, 255, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.5);
  border-radius: 5px;
  cursor: default;
  top: 30%;
  width: 300px;
  height: 80px;
  line-height: 80px;
  font-size: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}
#aula-trainning .view ul li .chapter .element:hover {
  box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
}
#aula-trainning .view ul li .activity-container {
  position: absolute;
  top: 100px;
  bottom: 80px;
  width: 100%;
  background: #000;
}
#aula-trainning .view ul li .prev-lecture {
  position: absolute;
  left: 172px;
  top: 14px;
  width: 130px;
  cursor: pointer;
}
#aula-trainning .view ul li .prev-lecture:first-child {
  display: none;
}
#aula-trainning .view ul li .prev-lecture:last-child {
  display: none;
}
#aula-trainning .view ul li .prev-lecture span {
  float: left;
  color: #84848c;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding-left: 5px;
}
#aula-trainning .view ul li .prev-lecture a {
  height: 18px;
  width: 19px;
  background-color: #000;
  color: #ababae;
  text-shadow: 0 -1px 2px #000000;
  border-radius: 4px;
  padding: 2px 0px 0px 3px;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
  display: block;
  float: left;
}
#aula-trainning .view ul li .prev-lecture a:before {
  background: url("../img/sprites.png?v=10") 0px -690px;
  content: "";
  float: left;
  margin-left: 2px;
  height: 13px;
  width: 9px;
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-backface-visibility: hidden;
}
#aula-trainning .view ul li .top {
  position: absolute;
  top: 40px;
  width: 100%;
  *zoom: 1;
}
#aula-trainning .view ul li .top:before {
  display: table;
  content: "";
  line-height: 0;
}
#aula-trainning .view ul li .top:after {
  clear: both;
}
#aula-trainning .view ul li .bottom {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
#aula-trainning .view ul li .bottom .next {
  height: 30px;
  line-height: 24px;
  padding: 0 10px;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
}
#aula-trainning .view ul li .bottom .next:hover {
  color: #999;
}
#aula-trainning .view ul li .bottom .next .continue {
  position: absolute;
  bottom: 0px;
  left: 147px;
}
#aula-trainning .view ul li .bottom .share {
  float: right;
  width: 26px;
  height: 26px;
  background: url("../../img/sprites.png?v=10") 0 -600px;
  text-indent: -999em;
  margin: 5px 0 0 5px;
  cursor: pointer;
  background-position: 0 -600px;
}
#aula-trainning .view ul li .bottom .mark {
  float: right;
  width: 26px;
  height: 26px;
  background: url("../../img/sprites.png?v=10") 0 -570px;
  text-indent: -999em;
  margin: 5px 0 0 5px;
  cursor: pointer;
}
#aula-trainning .view ul li .bottom .mark b:nth-child(1) {
  display: block;
}
#aula-trainning .view ul li .bottom .mark b:nth-child(2) {
  display: none;
}
#aula-trainning .view ul li .bottom .mark b:hover {
  background: url("../../img/sprites.png?v=10") -30px -570px;
}
#aula-trainning .view ul li .bottom .mark b .read {
  background-position: -30px -570px;
}
#aula-trainning .view ul li .bottom .mark b .read b:nth-child(1) {
  display: none;
}
#aula-trainning .view ul li .bottom .mark b .read b:nth-child(2) {
  display: block;
}
#aula-trainning .view ul li .note {
  left: 240px;
  margin-top: -16px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 20px;
}
#aula-trainning .view ul li .note span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  color: #002a80;
  padding: 10px 20px;
  border-radius: 20px;
}
#aula-trainning .view ul li .badge {
  position: absolute;
  top: 50%;
  left: 106px;
  margin-top: -120px;
  background: none;
  text-align: center;
}
#aula-trainning .view ul li .badge .title {
  background: #000;
  padding: 0;
  display: inline-block;
  line-height: 23px;
  color: #f7ecc5;
  margin-top: 17px;
  display: block;
}
#aula-trainning .view ul li .badge .icon {
  background: #e7dcad url("../../img/noise.png");
  background: url("../../img/noise.png"), -webkit-linear-gradient(#e7dcad, #e09226);
  background: url("../../img/noise.png"), -o-linear-gradient(#e7dcad, #e09226);
  background: url("../../img/noise.png"), -ms-linear-gradient(#e7dcad, #e09226);
  background: url("../../img/noise.png"), linear-gradient(#e7dcad, #e09226);
  width: 130px;
  height: 130px;
  border-radius: 99em;
  display: block;
  box-shadow: 0 0 0 5px #dca32a, 0 0 0 10px #000;
}
#aula-trainning .view ul li .badge .icon:before {
  content: '';
  width: 84px;
  height: 84px;
  background: url("../../img/badges.png");
  display: inline-block;
  margin-top: 26px;
}
#aula-trainning .view ul li .congrats {
  left: 50%;
  margin: -130px 0 0 -200px;
  position: absolute;
  text-align: center;
  width: 400px;
  background: url("../../img/huge-tick.png") no-repeat center;
  height: 260px;
  top: 50%;
}
#aula-trainning .view ul li .congrats h2 {
  color: #fff;
  font-size: 30px;
  font-weight: lighter;
}
#aula-trainning .view ul li .congrats p {
  color: #babdc2;
  font-size: 16px;
  margin-top: 20px;
  line-height: 24px;
}
#aula-trainning .view ul li .congrats p b {
  color: #fff3af;
}
#aula-trainning .view ul li .congrats p span {
  color: #FFFFFF;
  font-weight: bold;
}
#aula-trainning .view ul li .congrats p .share h4 {
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
}
#aula-trainning .view ul li .congrats p .share .btns {
  border-radius: 20px;
  box-shadow: 0 0 0 1px #000000, 0 0 0 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-top: 5px;
  overflow: hidden;
  line-height: 25px;
}
#aula-trainning .view ul li .congrats p .share .btns * {
  background: #6992d6 url("../../img/noise.png");
  background: url("../../img/noise.png"), -webkit-linear-gradient(#6992d6, #3564ab);
  background: url("../../img/noise.png"), -o-linear-gradient(#6992d6, #3564ab);
  background: url("../../img/noise.png"), -ms-linear-gradient(#6992d6, #3564ab);
  background: url("../../img/noise.png"), linear-gradient(#6992d6, #3564ab);
  color: #FFFFFF;
  display: table-cell;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  padding-right: 10px;
}
#aula-trainning .view ul li .congrats p .share .btns *:before {
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -632px, -moz-linear-gradient(#567fcc, #28529a);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -632px, -webkit-linear-gradient(#567fcc, #28529a);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -632px, -o-linear-gradient(#567fcc, #28529a);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -632px, -ms-linear-gradient(#567fcc, #28529a);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -632px, linear-gradient(#567fcc, #28529a);
  content: "";
  height: 26px;
  width: 30px;
  float: left;
  margin-right: 9px;
}
#aula-trainning .view ul li .congrats p .share .btns .tw {
  border-left: 1px solid #000;
  background: #67b2d6 url("../../img/noise.png");
  background: url("../../img/noise.png"), -webkit-linear-gradient(#67b2d6, #3582ab);
  background: url("../../img/noise.png"), -o-linear-gradient(#67b2d6, #3582ab);
  background: url("../../img/noise.png"), -ms-linear-gradient(#67b2d6, #3582ab);
  background: url("../../img/noise.png"), linear-gradient(#67b2d6, #3582ab);
}
#aula-trainning .view ul li .congrats p .share .btns .tw:before {
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -662px, -moz-linear-gradient(#59a5ce, #2b739e);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -662px, -webkit-linear-gradient(#59a5ce, #2b739e);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -662px, -o-linear-gradient(#59a5ce, #2b739e);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -662px, -ms-linear-gradient(#59a5ce, #2b739e);
  background: url("../../img/noise.png"), url("../../img/sprites.png?v=10") 0 -662px, linear-gradient(#59a5ce, #2b739e);
}
#aula-trainning .view a {
  text-decoration: none;
}
#aula-trainning .view a:hover {
  color: #fff;
}
#aula-trainning .view a:hover:before {
  opacity: 1;
}
#aula-trainning .view a:before {
  content: '';
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
  opacity: .3;
}
#aula-trainning .sidebar {
  background: #fff;
  width: 420px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid #504f55;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-backface-visibility: hidden;
}
#aula-trainning .sidebar .close-btn {
  background: #232326;
  border-color: #504F55;
  border-radius: 3px 0 0 3px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  display: block;
  left: -26px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  z-index: 1;
}
#aula-trainning .sidebar .close-btn:before {
  background: url("../../img/sprites.png?v=10") 0 -690px;
  content: "";
  float: left;
  height: 13px;
  margin: 6px 8px 6px 8px;
  width: 9px;
}
#aula-trainning .sidebar .tab-container {
  padding: 5px;
  box-shadow: 1px 0 1px #151517 inset;
  position: relative;
  height: 100%;
  z-index: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
